body{
    background-color: rgb(121 121 213);
}
.maincut{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    grid-template-columns: repeat( auto-fit, minmax(20px, 500px) );
}
.cont{
    text-align: center;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    width: 500px;
}

.joke{
    font-size: 20px;
    word-wrap: break-word;
    margin: 0px 15px;
}


button{
   background-color: black; 
   color: white;
   font-size: 20px;
   border-radius: 4px;
    margin:10px 10px;
}

button:hover{
    background-color: white;
    border: 2px solid black;
    color: black;
}
